@section Scripts {
    <script src="~/js/recipeShare.js"></script>
}

<div class="recipe-details">
    <!-- Your existing recipe details -->
    
    <partial name="_SocialShare" model="@Model" />
</div>